*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    height: 140vh;
}
.header{
    top: 0;
    width: 100%;
}
.navigation{
    height: 50px;
    width: 100%;
    background-color: rgb(122, 115, 115);
    display: flex;
    justify-content: space-between;
}
.navigation ul{
    display: flex;
    list-style: none;
}
.navigation ul li{
    padding: 15px 20px 15px 20px;

}
.navigation ul li a{
    text-decoration: none;
}




.nav a{
    left: -90px;
    font-family: cursive;
    text-decoration: none;
    position: relative;
    color: #000000c5;
    font-size: 14px;
    letter-spacing: 3.1px;
    padding: 0 10px;
    margin: -10px;
  }
  .nav a:hover{
    color: brown;
    
  }
  .nav a::after{
    content: "";
    position: absolute;
    background-color: rgb(33, 31, 23);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -13px;
    transition: 0.6s;
  }
  
  .nav a:hover::after{
    width: 100%;
  }
  .numero i{
    position: absolute;
    margin-left: -24px;
    margin-top: 4px;
}
.numero{
    font-family: cursive;
    margin-top: 15px;
    padding: 0px 10px;
}
h4{
    padding: 10px;
    font-family: cursive;
}

.image-box{
   display: flex;
   position: absolute;
   margin-top: 80px;
   margin-left: 130px;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 0px 0px 5px  rgb(0, 0, 0) ;
}

.image1{
    width: 300px;
    border-radius: 10px;

}
.image-boxe{
    display: grid;
    position: absolute;
    margin-top: 550px;
    margin-left: 50px;
    grid-template-columns: repeat(4, 1fr);
    
}
.petit-image{
    margin: 10px;
    flex-basis: 24%;

}
.imag{
    width: 100px;
    border-radius: 10px;

}
.kolchi{
    display: flex;
    position: absolute;
    justify-content: center;
}
.paraga{
    display: flex;
  margin-left:500px;
  margin-top: 230px;
  

}
.button{
    position: absolute;
   
}
.button button{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-left: 200px;
}
.number{
    position: absolute;
    margin-top: 17px;
    
}
.container{
    position: absolute;
    margin-top: 800px;

}
